.form {
margin-left:500px;
margin-right:550px;
line-height:10px;
}

.col-md6 {
margin-left:500px;
margin-right:500px;
line-height:10px}

.prof {
margin-left:10px;
margin-right:500px;
line-height:10px}