{% extends "base.html" %}

{% block content %}
<h4 style="text-align:center;">Публикации</h4>
{% for item in posts%}
<div class="col-md6 border rounded">
    <a href="/{{item.user.nickname}}"><img src="../static/img/users_images/{{item.user.id}}/avatar_scaled_micro.png">{{item.user.nickname}}</a>
    <h2 >{{item.title}}</h2>
    <div>
        {{item.text}}
    </div>
    <p></p>
    <div>
        {% for j in range(item.img_amount) %}
            <img width="400" height="400" src="../static/img/posts_images/{{item.id}}/{{j + 1}}.png">
        {% endfor %}
    </div>
    <p></p>
    <div>
        Дата публикации - {{item.publ_date}}
    </div>
    <p></p>
    {% if current_user.id == item.owner %}
        <a href="/delete_post/{{item.id}}" class="btb btn-primary">Удалить новость</a>
    {% endif %}
    <p></p>
    <a href="/posts/{{item.id}}">Комментарии</a>
    <p></p>
</div>
<p></p>
<p></p>
{% endfor %}
{% endblock %}