{% extends "base.html" %}

{% block content %}
    <h1 style="text-align: center;">Авторизация</h1>
    <form action="" method="post" novalidate> <!--novalidate в учебнике советует писать-->
        {{ form.hidden_tag() }}
        <p class="form">
            {{ form.email.label }}<br>
            {{ form.email(class="form-control", type="email") }}<br>
            {% for error in form.email.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p class="form">
            {{ form.password.label }}<br>
            {{ form.password(class="form-control", type="password") }}<br>
            {% for error in form.password.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p class="form">{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p class="form">{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        <div>{{ message }}</div>
    </form>
{% endblock %}